@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    background-color: #F8FAFC;
    color: #1E293B;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
}

/* Smooth transitions */
.transition-all-fast {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
